.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.header {
    justify-content: space-between !important;
    display: flex;
    align-items: center;
}
.header .header-button {
    margin: 0 5px;
}

.App-link {
  color: #09d3ac;
}

.repos {
    width: 90vw;
    display: contents;
}
